# Node Environment
NODE_ENV=development

# Database Configuration (FIXED NAME)
MONGO_URI=mongodb+srv://admin:123@cluster0.k9ugs9z.mongodb.net/
RESEND_DOMAIN_VERIFIED=false
# Razorpay Configuration
RAZORPAY_TEST_KEY_ID=rzp_test_fF62bDmx4cqklg
RAZORPAY_TEST_KEY_SECRET=WffXVbsaZFNln6vHFnk4YGqq
RAZORPAY_TEST_WEBHOOK_SECRET=my_webhook_secret_12345

# Email Configuration
RESEND_API_KEY=re_Q3EhWcGE_KQeAF3smtfju5E64iZEPQATa
ADMIN_EMAIL=evara.webdesign@gmail.com

# Frontend URLs
FRONTEND_URL=http://localhost:5173
ADMIN_URL=http://localhost:5173

# Server Configuration
PORT=7000
HOST=localhost

# Firebase Configuration
FIREBASE_SERVICE_ACCOUNT_PATH=./verre-8c17b-firebase-adminsdk-fbsvc-a7dc2802b3.json

# JWT Secret
JWT_SECRET=generate_a_strong_random_secret_here